.App {
  height: 100%;
  overflow-y: auto;
}

input {
  box-sizing: border-box;
  border: 0;
  outline: none;
}

input[type='checkbox'] {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  padding: 0;
}

.logout {
  margin: 2px 16px;
  text-align: right;
}

.logout button {
  border: none;
}
