input {
  box-sizing: border-box;
  border: 0;
  outline: none;
}

input[type='checkbox'] {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  padding: 0;
}

.App {
  max-width: 640px;
  margin: auto;
}
